<section data-ng-controller="HomeController">
	<div class="jumbotron text-center">
		<div class="row">
			<div class="col-md-6 col-md-offset-3 col-sm-6 col-sm-offset-3 col-xs-12">
				<img alt="MEAN.JS" class="img-responsive text-center" src="http://linux-box.es/styles/flexile/flexile/logo.png" />
			</div>
		</div>
		<br>
		<div class="row">
			<p class="lead">
				APP Store en Construcción
			</p>
		</div>
		<div class="row">
			<p>
				<a class="btn btn-primary btn-lg" href="http://linux-box.es" target="_blank">Saber Más</a>
			</p>
		</div>
	</div>

	<br>Con la colaboración de,
	<br>Linux Box Team.
</section>
